li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
}

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
}

body {
    /* background-color: rgb(236, 118, 118); */
    background-image: url('https://www.clipartmax.com/png/middle/159-1593632_cartoon-image-of-burger.png');
}